name: MLflow Training & Docker Build

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.19.0 dagshub pandas scikit-learn joblib matplotlib seaborn

    - name: Train Model & Log to DagsHub
      env:
        DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        DAGSHUB_REPO_NAME: ${{ secrets.DAGSHUB_REPO_NAME }}
        DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        # Menjalankan script training
        python modelling.py --n_estimators 150 --max_depth 15

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        echo "Mencari Run ID terakhir..."
        # Python script kecil untuk mengambil Run ID dari eksperimen barusan
        RUN_ID=$(python -c "import mlflow; mlflow.set_tracking_uri('$MLFLOW_TRACKING_URI'); print(mlflow.search_runs(order_by=['start_time desc']).iloc[0].run_id)")
        
        echo "Ditemukan Run ID: $RUN_ID"
        echo "Membangun Docker Image..."
        
        # Perintah sakti MLflow untuk membuat Docker Image otomatis
        mlflow models build-docker \
          -m "runs:/$RUN_ID/model" \
          -n "${{ secrets.DOCKER_USERNAME }}/submission-mlops:latest" \
          --enable-mlserver

        echo "Pushing ke Docker Hub..."
        docker push ${{ secrets.DOCKER_USERNAME }}/submission-mlops:latest